<!DOCTYPE html>
<html>
    <head>
        <title>Try again :(</title>
    </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    body {
        background-color: #fff093;
    }
    </style>
<body>
    <div class="alert alert-danger" role="alert">
        Username and/or email has been taken! <a href="{{ url_for('index') }}" class="alert-link">Try again</a>
    </div>
</body>
</html>